.main{
    width: 100%;
}

html, body, #root{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html {
    display: block;
}


div{   
     display: block;
    unicode-bidi: isolate;}   

    body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}
:root {
    view-transition-name: root;
}
body {
    display: block;
    margin: 8px;
}


.page-container{
     overflow-y: auto;
    max-width: 1000px;
     max-height: 80vh;
     width: 90%;
    margin: 20px auto;
    padding: 30px;
    background-color:rgb(22, 21, 21);
    border-radius: 12px;
    box-shadow: 0 4px 12px #0000000d;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 40px;
    border-radius: 8px;
}


img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


.hero-banner-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: brightness(60%);
}


.hero-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 90%;
}

.page-container h2 {
    color: #bdc9d4;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.8em;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


@media (max-width: 768px) {
    .image-gallery {
        grid-template-columns: 1fr;
    }
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

@media (max-width: 768px) {
    .image-gallery img {
        height: 180px;
    }
}

    .image-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px #0000001a;
    transition: transform .3s ease;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
   }

   p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.page-container p {
    line-height: 1.6;
    color: #e2dbdb;
    margin-bottom: 15px;
}

.call-to-action {
    text-align: center;
    margin-top: 40px;
}






/* src/pages/pages.css  */

 element.style {
    overflow: auto;
}
.page-container {
    max-width: 960px;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #181515;  
    border-radius: 8px;
    box-shadow: 0 4px 12px #0000000d;
}


